aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
anyio
attrs
babel
beautifulsoup4
bidict
blinker
cachelib
cachetools
calendar-view
certifi
charset-normalizer
click
coverage
dateparser
dbus-next
deprecation
distro
dnspython
eventlet
eyed3
filelock
filetype
Flask
flask-babel
Flask-Caching
Flask-Login
Flask-Migrate
Flask-Session
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
frozenlist
fsspec
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
h11
httpcore
httplib2
httpx
huggingface-hub
idna
ijson
itsdangerous
jalali_core
jdatetime
jeepney
Jinja2
jiter
jsonpatch
jsonpointer
langchain
langchain-core
langchain-openai
langchain-text-splitters
langsmith
lyricfetch
lyricsgenius
Mako
MarkupSafe
msgspec
multidict
mutagen
numpy
oauthlib
openai
orjson
packaging
pandas
pillow
pillow_heif
plotly
propcache
proto-plus
protobuf
pyaes
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
python-engineio
python-socketio
python-telegram-bot
pytz
PyYAML
regex
requests
requests-oauthlib
requests-toolbelt
rsa
safetensors
setuptools
simple-websocket
six
sniffio
soupsieve
SQLAlchemy
Telethon
tenacity
tiktoken
tokenizers
toml
tqdm
transformers
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
Werkzeug
wsproto
WTForms
yarl
